* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, sans-serif;
  /* Ensures full height compatibility across devices */
  min-height: 100dvh;
  margin: 0;
}
h1 {
  text-align: center;
}
